<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      {{#link-to "index"}}<a class="navbar-brand" href="#">CarTracker</a>{{/link-to}}
    </div>
    <div id="navbar" class="navbar-collapse collapse navbar-right">
      {{#if isAuthenticated}}
        <ul class="nav navbar-nav">
          <li>
            {{#link-to "user-dashboard"}}
              <div>My Dashboard</div>
            {{/link-to}}
          </li>
          <li>
            {{#link-to "user-dashboard"}}
              <div>Track Mileage</div>
            {{/link-to}}
          </li>
          <li>
            {{#link-to "user-dashboard"}}
              <div>Track Maintenance</div>
            {{/link-to}}
          </li>
          <li>
            {{#link-to "user-dashboard"}}
              <div>Car Profile</div>
            {{/link-to}}
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span class="glyphicon glyphicon-user"></span><span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                {{#link-to "change-password"}}<a href="#">Change Password</a>{{/link-to}}
              </li>
              <li role="separator" class="divider"></li>
              <li><a href="#" {{action "signOut"}}>Sign Out</a></li>
            </ul>
          </li>
        </ul>
      {{else}}
        <ul class="nav navbar-nav navbar-right">
          <li>
            {{#link-to "sign-in"}}
              <a href="#">Sign In</a>
            {{/link-to}}
          </li>
          <li>
            {{#link-to "sign-up"}}
              <a href="#">Sign Up</a>
            {{/link-to}}
          </li>
        </ul>
      {{/if}}

    </div>
  </div>
</nav>
