<div class="form-group">
  <label for="password-confirmation" class="control-label col-sm-5">Password Confirmation:</label>
  <div class="col-sm-5">
    {{input type="password"
        id="password-confirmation"
        placeholder="Password Confirmation"
        class="form-control"
        value=password
        required=true
        autofocus=true}}
  </div>
</div>
