@import 'bootstrap';
@import 'bootstrap/theme';
@import url('http://netdna.bootstrapcdn.com/bootswatch/3.0.0/flatly/bootstrap.min.css');
// @import url('http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css');
@import url('http://fonts.googleapis.com/css?family=Quicksand');

$page-background:  #f0f0f5;
$header-background: #d1d1e0;

html {
  min-height: 100%;
  position: relative;
}

body {
  background-color: $page-background;
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 60px; //* Margin bottom by footer height */
}

.page-title {
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
  font-style: italic;
}

footer {

}

.whitebox {
  background-color: white;
  border-style:solid;
  border-color: grey;
  margin-right: 1em;
  margin-bottom: 1em;
}


.confetti-hide {
  display: none;
}

.confetti {
  display: none;
}

// .chart-container {
//   height: 10em;
//   position: relative;
//   width: 40em;
// }

.jumbotron {
  background-color: $page-background;
}

.footer {
  bottom: 0;
  height: 60px; //* Set the fixed height of the footer here */
  line-height: 60px; //* Vertically center the text there */
  position: absolute;
  width: 100%;
  // background-color: #f5f5f5;
}

.headline {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}

.subheadline {
  font-size: 2em;
  font-style: italic;
  text-align: center;
}

.marketing {
  text-align: center;
}

.hide-section {
  display: none;
}

.modal-content {
  background-color: $page-background;
}

.modal-title {
  text-align: center;
}
